body {
    height: 100vh;
    height: 100svh;
    margin: 0px;
    overflow: auto;
}
.page-title {
    width: calc(100% - 22px);
    font-size: 2em;
    font-weight: bolder;
    text-align: center;
    padding: 10px;
}
.dial-wrapper {
    text-align: center;
    padding: 5px;
}
.calendar-wrapper {
    width: 100%;
    text-align: center;
}
#calendar {
    width:90%;
    max-width:576px;
    height: 15em;
}
.btn-wrapper {
    text-align: center;
    margin-top: 5px;
    padding-bottom: 2em;
}