#pageTitle {
    width: 100%;
    text-align: center;
}

#txtAreaWrapper{
    text-align:center;
}

#description {
    width: 20rem;
    max-width:80%;
    height: 5rem;
}

.mdc-text-field__resizer {
    resize: none;
}

#tbWrapper {
    width: 90%;
    text-align: center;
    margin: auto;
    padding-bottom: 1em;
    overflow: auto;
}

.btn-wrapper {
    text-align: center;
    margin-top: 5px;
    margin-bottom: 2em;
}
