@page
@using RazorTodo.Abstraction.Models
@model RazorTodo.Web.Pages.AlbumModel

@section Styles{
    <link rel="stylesheet" href="~/css/todo.css" asp-append-version="true">
}

<h1 id="pageTitle">相簿</h1>

