@page
@using RazorTodo.Web.ViewModels
@model IndexModel
@{
    int tabIndex = 0;
}
@section Styles{
    <link rel="stylesheet" href="~/css/index.css" asp-append-version="true">
}
@section HeadScripts{ 
    <script src="~/js/pageRouter.js" asp-append-version="true"></script>
}

<h1 id="pageTitle">BBLJ待辦事項</h1>

<div class="mdc-layout-grid">
    <div class="mdc-layout-grid__inner">
        <div class="mdc-layout-grid__cell--span-2-desktop
            mdc-layout-grid__cell--span-1-tablet
            mdc-layout-grid__cell--span-0-phone">
        </div>
        <div class="mdc-layout-grid__cell--span-8-desktop
            mdc-layout-grid__cell--span-6-tablet
            mdc-layout-grid__cell--span-4-phone">
            <button class="mdc-button mdc-button--raised" onclick="addTodo()">
                <span class="mdc-button__ripple"></span>
                <span class="mdc-button__focus-ring"></span>
                <span class="mdc-button__label">新增</span>
            </button>
            <button class="mdc-button mdc-button--raised" onclick="save()">
                <span class="mdc-button__ripple"></span>
                <span class="mdc-button__focus-ring"></span>
                <span class="mdc-button__label">儲存</span>
            </button>
            <a class="mdc-button mdc-button--raised" href="/Download" target="_blank">
                <span class="mdc-button__ripple"></span>
                <span class="mdc-button__focus-ring"></span>
                <span class="mdc-button__label">下載</span>
            </a>
            <a class="mdc-button mdc-button--raised" href="/Calendar">
                <span class="mdc-button__ripple"></span>
                <span class="mdc-button__focus-ring"></span>
                <span class="mdc-button__label">月曆</span>
            </a>
        </div>
    </div>
</div>

<div class="mdc-layout-grid" id="todoWrapper">
    <div class="mdc-layout-grid__inner">
        <div class="mdc-layout-grid__cell--span-2-desktop
            mdc-layout-grid__cell--span-1-tablet
            mdc-layout-grid__cell--span-0-phone">
        </div>
        <div class="mdc-layout-grid__cell--span-8-desktop
            mdc-layout-grid__cell--span-6-tablet
            mdc-layout-grid__cell--span-4-phone">
            <ul class="mdc-deprecated-list mdc-deprecated-list--two-line" id="ulTodoItems">
                @foreach (TodoItem row in Model.TodoItems)
                {
                    row.TabIndex = tabIndex;
                    <partial name="TodoItem" model="row" />
                    tabIndex++;
                }
            </ul>
        </div>
    </div>
</div>

<div class="mdc-menu mdc-menu-surface">
    <ul class="mdc-deprecated-list" role="menu" aria-hidden="true" aria-orientation="vertical" tabindex="-1">
        <li class="mdc-deprecated-list-item" role="menuitem" onclick="markDone()">
            <span class="mdc-deprecated-list-item__ripple"></span>
            <span class="mdc-deprecated-list-item__text">完成</span>
        </li>
        <li class="mdc-deprecated-list-item" role="menuitem" onclick="deleteTodo()">
            <span class="mdc-deprecated-list-item__ripple"></span>
            <span class="mdc-deprecated-list-item__text">刪除</span>
        </li>
    </ul>
</div>

<partial name="AlertDialog" model="(int)Model.AlertType" />

<button onclick="topFunction()" id="btnGoTop" title="Go to top">Top</button>
<div id="bottomMargin">
    <div class="mdc-layout-grid">
        <div class="mdc-layout-grid__inner">
            <div class="mdc-layout-grid__cell--span-2-desktop
                mdc-layout-grid__cell--span-1-tablet
                mdc-layout-grid__cell--span-0-phone">
            </div>
            <div class="mdc-layout-grid__cell--span-8-desktop
                mdc-layout-grid__cell--span-6-tablet
                mdc-layout-grid__cell--span-4-phone">
                <button class="mdc-button mdc-button--raised" onclick="nextPage()">
                    <span class="mdc-button__ripple"></span>
                    <span class="mdc-button__focus-ring"></span>
                    <span class="mdc-button__label">下一頁</span>
                </button>
                <button class="mdc-button mdc-button--raised" onclick="showAll()">
                    <span class="mdc-button__ripple"></span>
                    <span class="mdc-button__focus-ring"></span>
                    <span class="mdc-button__label">顯示全部</span>
                </button>
            </div>
        </div>
    </div>
</div>

<form id="frmTodo" method='POST' hidden>
    <input type="hidden" id="pageNumber" name="PageNumber" value="1"/>
</form>


@section Scripts{
    <script type="text/javascript" charset="UTF-8" src="~/js/index.js" asp-append-version="true"></script>
}